/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

button {
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 960px;
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-text-weight-light);
}

:root {
  color-scheme: normal;
}

.header {
  width: clamp(699px, 700px, 701px);
  height: clamp(367px, 368px, 369px);
  margin: auto;
  margin-top: 102px;
  margin-bottom: 102px;
  border: var(--border-card);
  background-color: var(--header-bg-color);
}

@media (width <= 375px) {
  .header {
    width: clamp(374px, 375px, 376px);
    height: clamp(326px, 327px, 328px);
  }
}

.header_width {
  width: var(--header_width);
}

.header_logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: clamp(135px, 136px, 137px);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(64px, 65px, 66px);
  line-height: 65px;
}

.header_logo-title {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(22px, 23px, 24px);
  text-transform: uppercase;
}

.header_logo-group,
.theme-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_logo-group {
  width: clamp(450px, 455px, 460px);
  margin: 0 auto;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-weight: 400;
  font-size: 14px;
}

.theme-menu__button {
  position: relative;
  border: medium none;
  padding: 0;
  outline: none;
  font-family: var(--accent-font);
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  animation: pointer_anim 0.5s ease-in-out infinite alternate;
}

@keyframes pointer_anim {
  from {
    left: -20px;
  }
  to {
    left: -16px;
  }
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--border-menu-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus {
  opacity: 0.7;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(695px, 696px, 697px);
}

@media (width <= 375px) {
  .main {
    width: clamp(374px, 375px, 376px);
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
}

.card {
  outline: var(--border-card);
  background-color: var(--card-bg-color);
}

.card_text-block {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-right: 25px;
  margin-left: 25px;
  padding-top: 27px;
  padding-bottom: 25px;
}

.card_text {
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: 18px;
  line-height: 21px;
}

.card_title {
  padding: 3px 0 3px 10px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
}

.button__text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--btn-text-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
}

.floppy-image {
  position: relative;
  width: 21px;
  fill: var(--btn-text-color);
  mix-blend-mode: difference;
}

.like {
  display: flex;
  gap: 12px;
  align-self: flex-end;
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
  border: var(--border-card);
  outline: none;
  background-color: var(--background-color);
}

.card__like-button:focus {
  box-shadow: 2px 2px 0 0 var(--btn-shadow);
  transition: box-shadow 0.3s ease;
}

.card__like-button:hover {
  box-shadow: none;
}

.btn-background-slide::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: var(--btn-background-slide);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn-background-slide:hover::before {
  transform: scaleX(1);
}

.btn-background-slide {
  z-index: 1;
  transition: color 0.5s ease-in-out;
}

.card__icon-button {
  display: flex;
  align-items: center;
  margin: 0;
  border: 2px solid var(--heart-border-color);
  padding: 0;
  outline: none;
  color: inherit;
  background: none;
}

.card__icon-button:focus-visible {
  border-color: var(--focus-heart-border-color);
  transition: border-color 0.3s ease;
}

.picture-img {
  position: relative;
}

.lable-link {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-shadow: 0 0 1px var(--lable-text-shadow);
  mix-blend-mode: hard-light;
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--lable-text-shadow)) or
    (-webkit-text-stroke: 1px var(--lable-text-shadow))
) {
  .lable-link {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--lable-text-shadow);
    mix-blend-mode: hard-light;
  }
}

.floppy-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 335px;
  height: 55px;
  border: var(--border-card);
  background-color: var(--background-color);
}

@media (width <= 375px) {
  .floppy-button {
    width: 306px;
    height: 84px;
  }
}

.footer_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: medium none;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
}

@media (width <= 375px) {
  .footer_button {
    display: flex;
    flex-direction: column;
  }
}

.contour {
  fill: var(--heart-contour-color);
  transition: opacity 0.1s ease;
}

.main-body {
  opacity: 0;
  fill: var(--heart-contour-color);
  transition: opacity 0.3s ease;
}

.core {
  opacity: 0;
  fill: var(--heart-contour-color);
  transition: opacity 0.03s ease;
}

.sparks {
  opacity: 0;
  fill: var(--fill-color);
}

.like-icon:hover .core {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.like-icon:hover .main-body {
  opacity: 1;
  transition: opacity 0.3s ease 0.05s;
}

.like-icon:active .core {
  opacity: 1;
  fill: var(--fill-color);
  transition: opacity 0.3s ease;
}

.like-icon:active .main-body {
  opacity: 1;
  fill: var(--fill-color);
  transition: opacity 0.3s ease 0.05s;
}

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--fill-color);
  transition: opacity 0.3s ease;
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--fill-color);
  transition: opacity 0.3s ease 0.05s;
}

.like-icon.is-liked .contour {
  opacity: 1;
  fill: var(--fill-color);
  transition: opacity 0.3s ease 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: zoom 0.3s 0.1s ease-in 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s 0.3s ease-in 1 alternate;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes sparks-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialog {
  position: fixed;
  inset: 0;
  z-index: 99999;
  border: 2px var(--accent-color) solid;
  padding: 0;
  background-color: var(--background-color);
}

.dialog[open] .application {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 293px;
  min-height: 63px;
  margin: 30px 30px 0 30px;
}

.floppy-image-dialog {
  width: 39px;
}

.dialog__text {
  line-height: 21px;
  text-transform: uppercase;
}

.btn-dialog {
  min-width: 293px;
  min-height: 38px;
  margin: 30px;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  background-color: var(--background-color);
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.picture-base {
  max-width: 696px;
  max-height: 696px;
}

.picture_with-sepia {
  filter: sepia(70%);
}

.picture_with-saturate {
  filter: saturate(400%);
}

.picture_with-hue-rotate {
  filter: hue-rotate(50%);
}

.picture_with-invert {
  filter: invert(0.8);
}

.picture_with-grayscale-and-sepia {
  filter: grayscale(90%);
  filter: sepia(0.8);
}

.picture_with-blur {
  filter: blur(1rem);
}

.picture_with-hue-rotate {
  filter: hue-rotate(70deg);
}
