/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

button {
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 103px;
  color: var(--text-color);
  font-family: var(--main-font);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight);
}

.header {
  width: clamp(375px, 100%, 700px);
  margin: 100px 0;
  border: var(--border-card);
  background-color: var(--header-bg-color);
}

.header_logo {
  display: flex;
  justify-content: center;
  margin: 0 14px 20px 14px;
  padding-top: clamp(120px, 136px, 136px);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(49px, 10vw, 65px);
  line-height: 65px;
}

.header_logo-title {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(14px, 4vw, 23px);
  text-transform: uppercase;
}

.theme-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-weight: 400;
  font-size: 14px;
}

.theme-menu__item {
  margin-left: 15px;
  line-height: 14px;
}

.theme-menu__button {
  position: relative;
  border: medium none;
  padding: 0;
  outline: none;
  font-family: var(--accent-font);
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  animation: pointer_anim 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--border-menu-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus {
  opacity: 0.7;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 51px;
  margin-bottom: 50px;
}

.card {
  width: clamp(375px, 100%, 696px);
  outline: var(--border-card);
  background-color: var(--card-bg-color);
}

.picture-base {
  width: clamp(375px, 100%, 696px);
}

.card_text-block {
  display: flex;
  flex-direction: column;
  margin: 26px 25px 24px 25px;
}

.card_text {
  margin-bottom: 27px;
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: 18px;
  line-height: 21px;
}

.knowledge_card_text {
  margin-bottom: 27px;
}

.memories_card_text {
  margin-bottom: 25px;
}

.card_title {
  padding: 6px 10px 3px 10px;
  font-family: var(--main-font);
  font-size: 18px;
  font-variation-settings: "wght" var(--accent-font-weight);
}

.button__text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--btn-text-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
  white-space: nowrap;
}

.floppy-image {
  position: relative;
  width: 21px;
  fill: var(--btn-text-color);
  mix-blend-mode: difference;
}

.like {
  display: flex;
  gap: 4px;
  align-self: flex-end;
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  border: var(--border-card);
  background-color: var(--background-color);
}

.card__like-button:hover {
  box-shadow: none;
}

.btn-background-slide::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: var(--btn-background-slide);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn-background-slide:hover::before {
  transform: scaleX(1);
}

.btn-background-slide {
  z-index: 1;
  transition: color 0.5s ease-in-out;
}

.card__icon-button {
  display: flex;
  align-items: center;
  margin: 0;
  border: 2px solid var(--heart-border-color);
  padding: 0;
  outline: none;
  color: inherit;
  background: none;
}

.card__icon-button:focus-visible {
  border-color: var(--focus-heart-border-color);
  transition: border-color 0.3s ease;
}

.picture-img {
  position: relative;
}

.lable-link {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-shadow: 0 0 1px var(--lable-text-shadow);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--lable-text-shadow)) or
    (-webkit-text-stroke: 1px var(--lable-text-shadow))
) {
  .lable-link {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--lable-text-shadow);
    mix-blend-mode: hard-light;
  }
}

.floppy-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: var(--border-card);
  padding: 15px 21px 15px 19px;
  background-color: var(--background-color);
}

.footer_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: medium none;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
}

@media (width <= 375px) {
  .footer_button {
    display: flex;
    flex-direction: column;
  }
}

.dialog {
  position: fixed;
  inset: 0;
  z-index: 1;
  border: 2px var(--accent-color) solid;
  padding: 0;
  background-color: var(--background-color);
}

.dialog[open] .application {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 293px;
  min-height: 63px;
  margin: 30px 30px 0 30px;
}

.floppy-image-dialog {
  width: 39px;
}

.dialog__text {
  line-height: 21px;
  text-transform: uppercase;
}

.btn-dialog {
  position: relative;
  min-width: 293px;
  min-height: 38px;
  margin: 30px;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  background-color: var(--background-color);
}

.btn-shadow:focus {
  box-shadow: 2px 2px 0 0 var(--btn-shadow);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.picture_with-sepia {
  filter: sepia(70%);
}

.picture_with-saturate {
  filter: saturate(400%);
}

.picture_with-invert {
  filter: invert(0.8);
}

.picture_with-grayscale-and-sepia {
  filter: grayscale(90%) sepia(0.8);
}

.picture_with-blur {
  filter: blur(1rem);
}

.picture_with-hue-rotate {
  filter: hue-rotate(70deg);
}

@media (width <= 376px) {
  .page {
    margin-bottom: 100px;
  }

  .main {
    width: 0;
  }

  .header_logo {
    padding-top: 123px;
    font-weight: 400;
    font-size: 49px;
    line-height: 49px;
  }

  .header_width {
    width: 371px;
  }

  .header_logo-title {
    font-size: 14px;
  }

  .picture-base {
    max-width: 371px;
    max-height: 371px;
  }

  .card {
    width: 371px;
  }

  .floppy-button {
    flex-direction: column;
    padding: 15px 20.5px 15px 19.5px;
  }

  .floppy-image {
    width: 28px;
  }
}
