/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter";
  --accent-font: "Press Start 2P";
  --main-text-weight-light: 400;
  --headline-weight-light: 700;
  --main-text-weight-dark: 465;
  --headline-weight-dark: 785;
}
