/* В этом файле будут храниться все значения переменных в исходном состоянии, 
а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter", sans-serif;
  --accent-font: "Press Start 2P";
  --background-color: #fff;
  --text-color: #000;
  --accent-color: #000;
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --block-text-weight: 400;
  --background-image: 
    repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(0deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(0.01% 0, #e7e7e7 #1a1a1a);
  --header_width: clamp(650px, 700px, 750px);
  --header-bg-color: #fff;
  --card-bg-color: #fff;
  --border-card: 2px solid #000;
  --lable-text-shadow: #fff;
  --heart-color: #000;
  --border-menu-color: #000;
  --btn-background-slide: #000;
  --btn-text-color: #fff;
  --btn-shadow: #000;
  --heart-border-color: #fff;
  --focus-heart-border-color: #000;
  --heart-contour-color: #000;
  --fill-color: #ff0000;
}
